* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-mobile {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.group-hover:animate-pause {
  animation-play-state: paused;
}

